.headerBG {
	background: url(../header/h4.jpg);
	height: 300px;
	color: var(--white);
	background-size: cover;
}

.bg h2 {
	font-weight: 700;
}

#main .main_bg {
	background-color: var(--first-color);
	padding: 20px 0;
	color: var(--sec-color);
}

#main .main_bg h2 {
	font-size: 2.1em;
	font-weight: bold;
	margin: 15px 0;
}



#main .main_bg p,
.card p {
	color: var(--sec-color);
	font-size: 19px;
	font-weight: bold;
	margin: 10px 0;
}

.nav-link {
	color: #f5f2ea;
	font-size: 20px;
	border-radius: 0 !important;
	margin: 8px 0;
	font-weight: 700;
	padding: 12px;
	transition: 0.5s ease-in-out;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav-pills .nav-link:hover {
	background-color: var(--sec-color);
	color: var(--first-color);
}

.card {
	background-color: var(--sec-color);
	border: none;
	padding: 10px;
	box-shadow: none;
}

.card-img-top {
	aspect-ratio: 16/9;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.card h4 {
	color: var(--first-color);
	font-size: 26px;
	font-weight: bold;
	margin: 10px 0;
}

.card p {
	color: var(--first-color);
}

.card a {
	background-color: var(--first-color);
	color: var(--white);
	padding: 10px 20px;
	display: inline-block;
	margin-top: 15px;
	border-radius: 10px;
	transition: all 0.5s;
	font-size: 19px;
	font-weight: bold;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-ms-border-radius: 10px !important;
	-o-border-radius: 10px !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.original-button {
	background-color: var(--sec-color);
	color: var(--first-color);
	padding: 10px 20px;
	border: none;
	display: inline-block;
	margin-top: 15px;
	border-radius: 10px;
	transition: all 0.5s;
	font-size: 19px;
	font-weight: bold;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-ms-border-radius: 10px !important;
	-o-border-radius: 10px !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.card a:hover {
	background-color: var(--third-color);
}

.original-button:hover {
	background-color: var(--third-color);
}

.table>thead {
	background-color: var(--first-color);
	color: #fff;
}

.table td {
	font-weight: 800;
	color: var(--sec-color);
}

audio {
	width: 100%;
}


#main .card .card-title {
	color: var(--first-color);
	font-weight: bold;
	font-size: 28px;
	margin: 15px 0 20px;
}

#main .card .card-title i {
	display: block;
	font-size: 40px;
	margin-bottom: 15px;
}

label {
	display: block;
	color: var(--sec-color);
	font-size: 22px;
	margin-bottom: 10px;
}

td label {
	background-color: var(--sec-color);
	color: var(--first-color);
	font-size: 15px;
}

td a {
	color: var(--sec-color);
	text-decoration: underline;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

td a:hover {
	color: var(--third-color);
}

input,
textarea {
	height: 60px;
	margin: 0 0 35px 0;
	background-color: var(--sec-color);
	color: var(--first-color);
	width: 100%;
	padding-right: 15px;
	border: 0;
	outline: 0;
}

input::placeholder,
textarea::placeholder {
	color: var(--first-alt-color);
}

textarea {
	height: auto;
}

.tab-content {
	padding-bottom: 140px !important;
}

@media (max-width: 768px) {
	#footer {
		margin-top: 37px !important;
	}
}