/* Start Global Settings */

:root {
	--first-color: #102C57;
	--first-alt-color: #071a36;
	--sec-color: #EAC696;
	--third-color: #2c5694;
	--fourth-color: #fde9cf;
	--white: #eeeeee;
	--black: #252525;
	--font-main: "Cairo", sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

*,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-main);
	direction: rtl;
	overflow-x: hidden;
	background-color: var(--first-color);

}

body::-webkit-scrollbar,
.mainbg::-webkit-scrollbar {
	background-color: var(--sec-color);
	width: 10px;
}

body::-webkit-scrollbar-thumb,
.mainbg::-webkit-scrollbar-thumb {
	background: var(--first-color);
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--first-color);
}

a:hover {
	color: var(--first-alt-color);
}

.row {
	margin: 0;
}

/* End Global Settings */

/* Start Header Settings */

header {
	height: 70px;
	position: relative;
	background-color: transparent;
}

.navbar {
	width: 100%;
}

header ul li a {
	font-size: 16px;
	font-weight: 800;
	display: inline-block;
	color: #eee !important;
	margin-left: 15px;
}

header ul li a.active,
header ul li a:hover {
	transition: 0.5s ease-in-out;
	color: var(--sec-color) !important;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;

}

.headerBtn {
	padding: 7px 12px;
	background-color: var(--sec-color);
	color: var(--first-color);
	border: none;
	outline: none;
	font-weight: 700;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	border: 3px solid var(--sec-color);
}

.headerBtn:hover {
	background-color: transparent;
	border: 3px solid var(--sec-color);
	color: var(--sec-color);
}

.navbar-toggler {
	font-size: 2rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.navbar-toggler svg {
	color: var(--sec-color);
}

.navbar-toggler svg:focus {
	outline: none !important;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
	background-color: var(--first-alt-color);
	margin-top: -50px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 15px 20px;
}

/* End Header Settings */

/* Start Hero Settings */

#Hero {
	background: var(--first-color);
	min-height: calc(100vh - 70px);
}

#Hero::after {
	content: "";
	position: absolute;
	background-image: url(./images/hero2.png);
	background-repeat: no-repeat;
	background-position: right 0px bottom 0px;
	background-size: contain;
	bottom: 0;
	right: -20px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 0;
}

#Hero::before {
	content: "";
	position: absolute;
	background-image: url(./images/hero3.png);
	background-repeat: no-repeat;
	background-position: top 0px left 0px;
	background-size: 550px;
	bottom: 0;
	right: -20px;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	z-index: 0;
}


.hero {
	height: calc(100vh - 70px);
}

.heroImg {
	width: 60%;
	z-index: 20;
}

.heroImg>img {
	width: 100%;
}

.heroContent {
	z-index: 3;
	padding: 0 40px;
}

.heroContent>h1 {
	color: #eee;
	font-weight: 600;
	text-wrap: wrap;
	line-height: 55px;
	margin-bottom: 20px;
}

.heroContent>h1>div {
	font-weight: 900;
}

.heroContent>h3 {
	color: var(--fourth-color);
	font-weight: 600;
	text-wrap: wrap;
}

.heroBtn {
	background-color: var(--sec-color);
	border: none;
	outline: none;
	color: var(--first-color);
	padding: 10px 20px;
	border-radius: 50px;
	margin-top: 25px;
	font-size: 23px;
	font-weight: 700;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	border: 3px solid var(--sec-color);
}


.heroBtn:hover {
	background-color: transparent;
	border: 3px solid var(--sec-color);
	color: var(--sec-color);
}

@media (max-width:1200px) {
	.heroContent {
		padding: 0 25px;
	}
}

@media (max-width:994px) {
	.heroContent {
		padding: 0;
	}

	.heroContent>h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.heroContent>h3 {
		font-size: 21px;
	}
}

@media (max-width:882px) {
	#Hero::after {
		display: none;
	}

	.heroImg {
		width: 70%;
		z-index: 20;
	}
}

@media (max-width:350px) {
	.heroContent>h1 {
		font-size: 25px;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.heroContent>h3 {
		font-size: 18px;
	}
}

/* End Hero Settings */

/* Start About Settings */
#About {
	min-height: 110vh;
	background-color: var(--first-alt-color);
	/* box-shadow: 1px 9px 10px rgba(0, 0, 0, 0.20); */
	position: relative;
	padding: 50px 0px;
}

.aboutContent {
	color: var(--fourth-color);
}

.aboutContent ul li {
	margin: 15px 20px;
	list-style: circle;
}

.aboutContent button {
	background-color: var(--sec-color);
	padding: 10px 20px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	font-weight: 700;
	color: var(--first-color);
	font-size: 18px;
	border: 3px solid var(--sec-color);
	outline: none;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.aboutContent button:hover {
	background-color: transparent;
	color: var(--sec-color);
}

@media (max-width:400px) {

	.aboutContent>h4 {
		font-size: 18px;
	}

	.aboutContent ul li {
		font-size: 14px;
	}
}

/* End About Settings */

/* Start Videos Section */

#Videos {
	min-height: 100vh;
	background-color: var(--third-color);
	padding: 50px 0;
}

#Videos>h2 {
	color: #eee;
	font-weight: 800;
	text-align: center;
}

.video {
	background-color: var(--sec-color);
	overflow: hidden;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	margin-bottom: 30px;
}

.videoData {
	padding: 10px 20px;
}

.videoData>h3 {
	color: var(--first-color);
	font-weight: 700;
}

.videoData>p {
	color: var(--first-alt-color);
}

/* End Videos Section */

/* Start Contact Section */
#Contact {
	background-color: var(--first-color);
	min-height: 100vh;
}

.card {
	padding: 50px;
	border: 6px solid var(--sec-color);
	box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	position: relative;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.contactForm h2 {
	color: var(--sec-color);
	font-size: 40px;
	font-weight: 700;
	margin-right: 15px;
}

.card form,
.card input,
.card textarea {
	width: 100%;
	caret-color: var(--sec-color);
	color: var(--sec-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.card input,
.card textarea {
	background-color: var(--third-color);
	outline: none;
	border: none;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	padding: 15px;
}

.card input::placeholder,
.card textarea::placeholder {
	color: #eee;
}

.card textarea {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	resize: none;
}

.card .contact-btn {
	background-color: var(--sec-color);
	font-weight: 700;
	color: #eee;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.card .contact-btn:hover {
	background-color: var(--third-color);
}

.contactImg {
	width: 100%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

@media (max-width: 585px) {
	#Contact {
		padding: 0px 50px;
	}

	.card {
		padding: 30px 40px;
	}

	.card h2 {
		margin-right: 0;
		font-size: 30px;
		font-weight: 700;
	}
}

@media (max-width: 480px) {
	#Contact {
		padding: 0px 20px;
	}

	.card {
		padding: 20px 30px;
	}

	.card h2 {
		font-size: 25px;
		font-weight: 700;
	}
}

/* End Contact Section */
/* Start Footer Settings */
#Footer {
	background-color: var(--third-color);
}

#Footer h6 {
	margin-bottom: 15px;
	color: var(--sec-color);
	font-size: 18px;
}

.links a,
.footer-links {
	color: var(--white);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.links a:hover,
.footer-links:hover {
	color: var(--sec-color) !important;
	padding-right: 10px;
}

.footerTop {
	background-color: var(--first-color);
}

.footerBottom {
	background-color: var(--black);
	color: var(--white);
}

.footerBottom a {
	color: var(--sec-color);
}

/* End footer Settings */